Repository retran/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-build, frontend-lint, frontend-prettier, frontend-type-check, sqlfluff-lint, sqlfluff-fix, sql-prettier, repo-prettier

Path conditions:
  go-fmt: any of: ^backend/.*\.go$
  go-mod-tidy: any of: ^backend/(go\.mod|go\.sum)$
  go-build: any of: ^backend/.*\.go$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  sqlfluff-lint: any of: ^postgres/migrations/.*\.sql$
  sqlfluff-fix: any of: ^postgres/migrations/.*\.sql$
  sql-prettier: any of: ^postgres/migrations/.*\.sql$
  repo-prettier: any of: ^(.*\.(md|ya?ml|json))|(\.github/.*\.(md|ya?ml))|(docs/.*\.md)$, but not: ^(frontend/|backend/|postgres/)

feat(iam): step-30 - add dev-mode direct access labels
  docker-compose.dev.yaml
Due: repo-prettier

docs: mark commits 29-30 as completed in TODO.md
  TODO.md
Due: repo-prettier

docs(security): replace IAM plan with mTLS roadmap
  TODO.md
Due: repo-prettier

feat(iam): step-28 - add Ory Keto service skeleton
  docker-compose.dev.yaml
  kratos/dev/keto.yml
  kratos/dev/namespaces.yml
  postgres/init-kratos-db.sh
Due: repo-prettier

feat(iam): step-29 - configure Keto OPL namespaces and relationships
  TODO.md
  kratos/dev/keto.yml
  kratos/dev/namespaces.ts
  kratos/dev/namespaces.yml
  kratos/dev/seed-keto-tuples.sh
Due: repo-prettier

docs: mark commits 28-29 as completed in TODO.md
  TODO.md
Due: repo-prettier

feat(iam): step-31 - configure Vault PKI engine for mTLS
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-pki.sh
  vault/scripts/init-transit.sh
Due: none

docs: mark commit 31 (PKI engine) as completed
  TODO.md
Due: repo-prettier

feat(iam): step-32 - define PKI roles and policies for mTLS
  vault/scripts/init-pki.sh
  vault/scripts/init-policies.sh
Due: none

docs: mark commit 32 (PKI roles and policies) as completed
  TODO.md
Due: repo-prettier

feat(iam): step-33 - add Vault Agent templates for mTLS
  vault/agent/ca.tpl
  vault/agent/cert.tpl
  vault/agent/key.tpl
  vault/agent/template.hcl
  vault/agent/webhook.tpl
Due: none

docs: mark commit 33 (Vault Agent templates) as completed
  TODO.md
Due: repo-prettier

feat(iam): step-34 - add Vault Agent sidecars for mTLS
  docker-compose.dev.yaml
  vault/scripts/bootstrap-dev.sh
Due: repo-prettier

docs: mark commit 34 (Vault Agent sidecars) as completed
  TODO.md
Due: repo-prettier

feat(iam): step-35 - enable mTLS in Go services
  backend/.golangci.yml
  backend/cmd/data-api/main.go
  backend/cmd/internal-api/main.go
  backend/cmd/worker/main.go
  backend/internal/api/rest/server.go
  backend/internal/client/graphql/client.go
Due: go-fmt, go-build

refactor(iam): step-36 - switch AuthN middleware from JWT to mTLS CN validation
  backend/cmd/data-api/main.go
  backend/cmd/internal-api/main.go
  backend/internal/api/rest/middleware/auth.go
  backend/internal/api/rest/middleware/auth_test.go
  backend/internal/api/rest/server.go
  backend/internal/auth/jwks_verifier.go
Due: go-fmt, go-build

feat(iam): step-37 - reroute Kratos webhooks via mTLS-enabled Oathkeeper
  backend/cmd/internal-api/main.go
  kratos/dev/access-rules.yml
  kratos/dev/kratos.yml
Due: go-fmt, go-build, repo-prettier

chore: remove outdated mTLS migration plan
  TODO.md
Due: repo-prettier

docs: add development roadmap for security and auth
  TODO.md
Due: repo-prettier

feat(database)!: establish initial schema for users and audit logs
  .env.dev.example
  Taskfile.yml
  postgres/migrations/20251103000000_remove_role_column.sql
  postgres/migrations/20251104151253_initial_schema.sql
  postgres/migrations/atlas.sum
Due: sqlfluff-lint, sqlfluff-fix, sql-prettier, repo-prettier

refactor(gateway): step-1 - remove S2S JWT generation for internal-api client
  backend/internal/api/rest/server.go
  backend/internal/api/rest/service_token_transport.go
  backend/internal/auth/vault_token_client.go
  backend/internal/auth/vault_token_client_test.go
Due: go-fmt, go-build

refactor(internal-api): step-2 - remove S2S JWT validation, rely on mTLS CN
  backend/cmd/internal-api/main.go
  backend/internal/internalapi/handlers/audit.go
  backend/internal/internalapi/middleware/jwt.go
Due: go-fmt, go-build

feat(auth): step-3 - secure traefik dashboard with ory stack sso
  docker-compose.dev.yaml
  kratos/dev/access-rules.yml
Due: repo-prettier

refactor(auth): replace custom RBAC with Keto, rename kratos dir to ory
  TODO.md
  backend/cmd/gateway/main.go
  backend/internal/api/rest/handlers/authorizer.go
  backend/internal/api/rest/server.go
  docker-compose.dev.yaml
  ory/dev/access-rules.yml
  ory/dev/id_token.jwks.json
  ory/dev/identity.schema.json
  ory/dev/keto.yml
  ory/dev/kratos.yml
  ory/dev/namespaces.ts
  ory/dev/oathkeeper.yml
  ory/dev/oidc.google.jsonnet
  ory/dev/seed-keto-tuples.sh
  ory/dev/webhook.jsonnet
Due: go-fmt, go-build, repo-prettier

feat(auth): step-4 - add script to bootstrap sso clients in kratos
  .env.dev.example
  Taskfile.yml
  ory/scripts/bootstrap_oidc_clients.sh
Due: repo-prettier

feat(auth): step-5 - configure temporal ui for kratos oidc sso
  docker-compose.dev.yaml
Due: repo-prettier

feat(vault): step-6 - add pki and approle for temporal service
  .env.dev.example
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-pki.sh
  vault/scripts/init-policies.sh
Due: none

feat(temporal): step-7 - secure temporal grpc api with mtls
  docker-compose.dev.yaml
Due: repo-prettier

refactor(clients): step-8 - update temporal clients to use mtls
  backend/cmd/internal-api/main.go
  backend/cmd/worker/main.go
  backend/internal/mtls/client.go
Due: go-fmt, go-build

refactor(kratos): step-9 - configure kratos admin api with tls
  docker-compose.dev.yaml
  ory/dev/kratos.yml
Due: repo-prettier

refactor(clients): step-10 - use tls for kratos admin api
  backend/cmd/internal-api/main.go
  backend/internal/api/rest/handlers/me.go
  backend/internal/internalapi/handlers/admin.go
  backend/internal/mtls/client.go
Due: go-fmt, go-build

docs: add production configuration refactoring plan
  TODO.md
Due: repo-prettier

docs: refocus prod plan on refactoring existing setup
  TODO.md
Due: repo-prettier

refactor(infra): phase-1-step-1 - rename compose to prod default
  .github/copilot-instructions.md
  .gitignore
  Taskfile.yml
  docker-compose.yaml
  postgres/Taskfile.yml
Due: repo-prettier

refactor(infra): convert docker-compose to production-ready config
  docker-compose.yaml
Due: repo-prettier

refactor(infra): phase-1-step-3 - reorganize configs and update to production domains
  .env.dev.example
  .github/copilot-instructions.md
  ory/config/access-rules.yml
  ory/config/id_token.jwks.json
  ory/config/identity.schema.json
  ory/config/keto.yml
  ory/config/kratos.yml
  ory/config/namespaces.ts
  ory/config/oathkeeper.yml
  ory/config/oidc.google.jsonnet
  ory/config/seed-keto-tuples.sh
  ory/config/webhook.jsonnet
Due: repo-prettier

feat(infra): phase-2 - add production Dockerfiles for all services
  backend/Dockerfile.data-api
  backend/Dockerfile.gateway
  backend/Dockerfile.internal-api
  backend/Dockerfile.worker
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

refactor(infra): phase-4 - replace tmpfs with persistent volumes for certificates
  .env.example
  docker-compose.yaml
Due: repo-prettier

refactor(infra): phase-3 - update vault config and add .env.example
  .env.dev.example
  .env.example
  .gitignore
  vault/config.hcl
Due: none

docs: update TODO.md - mark phases 1-4 as completed
  TODO.md
Due: repo-prettier
