Repository retran/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-build, frontend-lint, frontend-prettier, frontend-type-check, sqlfluff-lint, sqlfluff-fix, sql-prettier, repo-prettier

Path conditions:
  go-fmt: any of: ^backend/.*\.go$
  go-mod-tidy: any of: ^backend/(go\.mod|go\.sum)$
  go-build: any of: ^backend/.*\.go$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  sqlfluff-lint: any of: ^postgres/migrations/.*\.sql$
  sqlfluff-fix: any of: ^postgres/migrations/.*\.sql$
  sql-prettier: any of: ^postgres/migrations/.*\.sql$
  repo-prettier: any of: ^(.*\.(md|ya?ml|json))|(\.github/.*\.(md|ya?ml))|(docs/.*\.md)$, but not: ^(frontend/|backend/|postgres/)

refactor(infra): replace complex Taskfile with production-focused minimal version
  Taskfile.yml
  backend/Taskfile.yml
  frontend/Taskfile.yml
  postgres/Taskfile.yml
  vault/Taskfile.yml
Due: repo-prettier

refactor: reorganize folder structure for better maintainability
  TODO.md
  TO_DO.md
  docker-compose.yaml
  ory/scripts/init-kratos-db.sh
  ory/scripts/seed-keto-tuples.sh
Due: repo-prettier

refactor(backend): reorganize folder structure for maintainability
  backend/.gitignore
  backend/config/.air.data-api.toml
  backend/config/.air.gateway.toml
  backend/config/.air.internal-api.toml
  backend/config/.air.worker.toml
  backend/config/genqlient.yml
  backend/config/gqlgen.yml
  backend/config/sqlc.yml
Due: none

refactor: rename 'ui' service to 'frontend' and fix CI commands
  .github/workflows/ci.yaml
  README.md
  docker-compose.base.yaml
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  ory/config/access-rules.yml
Due: repo-prettier

refactor(dev): introduce automated environment setup and Atlas migrations
  .env.example
  Taskfile.yml
  backend/docker/Dockerfile.data.dev
  backend/docker/Dockerfile.gateway.dev
  backend/docker/Dockerfile.system.dev
  backend/docker/Dockerfile.worker.dev
  docker-compose.base.yaml
  docker-compose.dev.yaml
  ory/config/kratos.yml
  postgres/Taskfile.yml
  postgres/atlas.hcl
  postgres/migrations/atlas.sum
  postgres/seeds/dev.sql
  scripts/generate-env.sh
  vault/scripts/bootstrap-dev.sh
Due: repo-prettier

docs: add TODO list for future project improvements
  TODO.md
Due: repo-prettier

refactor: remove mTLS implementation and consolidate docker-compose files
  Taskfile.yml
  backend/Taskfile.yml
  backend/cmd/data/main.go
  backend/cmd/system/main.go
  backend/cmd/worker/main.go
  backend/internal/api/gateway/handlers/me.go
  backend/internal/api/gateway/server.go
  backend/internal/api/system/handlers/admin.go
  backend/internal/client/data/client.go
  backend/internal/client/mtls/client.go
  docker-compose.base.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  frontend/Taskfile.yml
  infra/Taskfile.yml
  ory/Taskfile.yml
  postgres/Taskfile.yml
  vault/Taskfile.yml
  vault/agent/ca.tpl
  vault/agent/cert.tpl
  vault/agent/key.tpl
  vault/agent/template.hcl
  vault/agent/webhook.tpl
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-pki.sh
  vault/scripts/init-policies.sh
  vault/scripts/rotate-shared-secrets.sh
  vault/scripts/seed-dev-secrets.sh
  vault/scripts/verify-shared-secrets.sh
Due: go-fmt, go-build, repo-prettier

refactor(auth): integrate Keto and streamline Kratos webhooks
  .env.example
  docker-compose.yaml
  ory/config/access-rules.yml
  ory/config/kratos.yml
  ory/config/oathkeeper.yml
  scripts/generate-env.sh
  vault/scripts/seed-dev-secrets.sh
Due: repo-prettier

refactor(auth)!: replace mTLS with role-based access control (RBAC)
  .env.example
  Taskfile.yml
  backend/cmd/data/main.go
  backend/cmd/gateway/main.go
  backend/cmd/system/main.go
  backend/cmd/worker/main.go
  backend/graphql/data.graphql
  backend/internal/api/common/middleware/auth.go
  backend/internal/api/data/data.resolvers.go
  backend/internal/api/data/exec.go
  backend/internal/api/data/model.go
  backend/internal/api/gateway/server.go
  backend/internal/api/system/handlers/admin.go
  backend/internal/api/system/handlers/audit.go
  backend/internal/api/system/handlers/kratos_webhook.go
  backend/internal/config/env.go
  backend/internal/repository/postgres/users.sql.go
  backend/tools/gqlgen.yml
  ory/config/access-rules.yml
  postgres/queries/users.sql
  scripts/generate-env.sh
  vault/Taskfile.yml
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-pki.sh
  vault/scripts/init-policies.sh
Due: go-fmt, go-build, repo-prettier

feat(database): introduce user and audit log database layer with Atlas
  .pre-commit-config.yaml
  TODO.md
  Taskfile.yml
  backend/Taskfile.yml
  backend/cmd/data/main.go
  backend/internal/api/data/data.resolvers.go
  backend/internal/api/data/exec.go
  backend/internal/api/data/model.go
  backend/internal/api/data/resolver.go
  backend/internal/repository/audit_logs.sql.go
  backend/internal/repository/db.go
  backend/internal/repository/models.go
  backend/internal/repository/pool.go
  backend/internal/repository/querier.go
  backend/internal/repository/users.sql.go
  backend/tools/gqlgen.yml
  backend/tools/sqlc.yml
  db/.gitignore
  db/.prettierignore
  db/.prettierrc.yaml
  db/.sqlfluff
  db/Taskfile.yml
  db/atlas.hcl
  db/migrations/20251104151253_initial_schema.sql
  db/migrations/atlas.sum
  db/package-lock.json
  db/package.json
  db/queries/audit_logs.sql
  db/queries/users.sql
  db/schema.hcl
  db/seeds/dev.sql
  db/seeds/test.sql
  db/yarn.lock
  docker-compose.yaml
Due: go-fmt, go-build, repo-prettier

feat(infra)!: implement Ory and Vault auth and secrets stack
  .pre-commit-config.yaml
  TODO.md
  Taskfile.yml
  docker-compose.yaml
  infra/.gitignore
  infra/.prettierignore
  infra/.prettierrc.yaml
  infra/Taskfile.yml
  infra/keto/keto.yml
  infra/keto/namespaces.ts
  infra/keto/seed-keto-tuples.sh
  infra/kratos/identity.schema.json
  infra/kratos/init-kratos-db.sh
  infra/kratos/kratos.yml
  infra/kratos/oidc.google.jsonnet
  infra/kratos/seeds/admin-identity.json
  infra/kratos/seeds/test-alice.json
  infra/kratos/seeds/test-bob.json
  infra/kratos/seeds/test-charlie.json
  infra/kratos/webhook.jsonnet
  infra/oathkeeper/access-rules.yml
  infra/oathkeeper/oathkeeper.yml
  infra/package.json
  infra/vault/bootstrap-dev.sh
  infra/vault/init-policies.sh
  infra/vault/rotate-shared-secrets.sh
  infra/vault/seed-dev-secrets.sh
  infra/vault/verify-shared-secrets.sh
  ory/Taskfile.yml
  vault/.gitignore
  vault/Taskfile.yml
  vault/config.hcl
Due: repo-prettier

feat(auth): integrate Ory Kratos for identity management
  .env.example
  README.md
  TODO.md
  Taskfile.yml
  backend/internal/api/system/handlers/kratos_webhook.go
  docker-compose.yaml
  infra/Taskfile.yml
  infra/keto/seed-keto-tuples.sh
  infra/kratos/kratos.yml
  infra/oathkeeper/access-rules.yml
  infra/oathkeeper/oathkeeper.yml
  scripts/generate-env.sh
Due: go-fmt, go-build, repo-prettier

refactor(infra)!: overhaul dev environment with Traefik and file-based configs
  .env.example
  TODO.md
  docker-compose.yaml
  frontend/vite.config.ts
  infra/keto/keto.dev.yml
  infra/kratos/kratos.dev.yml
  infra/oathkeeper/access-rules.dev.yml
  infra/oathkeeper/oathkeeper.dev.yml
  infra/traefik/dynamic/middlewares.dev.yml
  infra/traefik/traefik.dev.yml
  scripts/generate-env.sh
Due: frontend-lint, frontend-prettier, frontend-type-check, repo-prettier

refactor(system)!: overhaul architecture to use GraphQL and Ory stack
  .cz.toml
  .editorconfig
  .gitattributes
  .gitignore
  .meowg1k.yaml
  .pre-commit-config.yaml
  .prettierignore
  TODO.md
  Taskfile.yml
  backend/Taskfile.yml
  backend/internal/api/data/exec.go
  backend/internal/api/data/model.go
  codecov.yaml
  db/Taskfile.yml
  db/migrations/20251104151253_initial_schema.sql
  db/migrations/atlas.sum
  db/package.json
  frontend/Taskfile.yml
  infra/Taskfile.yml
  infra/keto/clear-tuples.sh
  infra/kratos/clear-identities.sh
  renovate.json
Due: go-fmt, go-build, repo-prettier

feat(security): integrate HashiCorp Vault for centralized secret management
  .env.example
  Taskfile.yml
  backend/cmd/data/main.go
  backend/cmd/gateway/main.go
  backend/cmd/system/main.go
  backend/internal/client/vault/client.go
  backend/internal/client/vault/client_test.go
  backend/internal/config/vault.go
  docker-compose.yaml
  frontend/yarn.lock
  infra/Taskfile.yml
  infra/kratos/load-secrets-from-vault.sh
  infra/vault/rotate-shared-secrets.sh
  infra/vault/seed-dev-secrets.sh
  infra/vault/verify-shared-secrets.sh
Due: go-fmt, go-build, repo-prettier

chore(infra): integrate HashiCorp Vault for secret management
  .meowg1k.yaml
  README.md
  TODO.md
  db/.prettierrc.yaml
  db/.sqlfluff
  db/migrations/20251104151253_initial_schema.sql
  db/migrations/atlas.sum
Due: repo-prettier

refactor(oathkeeper): configure Redis caching with Vault secrets
  docker-compose.yaml
Due: repo-prettier

feat(infra): introduce observability stack with OpenTelemetry and Prometheus
  README.md
  TODO.md
  Taskfile.yml
  backend/cmd/data/main.go
  backend/cmd/gateway/main.go
  backend/cmd/system/main.go
  backend/cmd/worker/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/gateway/server.go
  backend/internal/tracing/otel.go
  compose/app.yaml
  compose/infra.yaml
  compose/tools.yaml
  db/migrations/atlas.sum
  docker-compose.yaml
  infra/Taskfile.yml
  infra/grafana/provisioning/datasources/datasources.yml
  infra/oathkeeper/access-rules.dev.yml
  infra/prometheus/prometheus.dev.yml
  infra/traefik/traefik.dev.yml
Due: go-fmt, go-mod-tidy, go-build, repo-prettier

refactor(infra): migrate observability stack to Grafana Mimir, Tempo, and Alloy
  README.md
  Taskfile.yml
  backend/go.mod
  backend/internal/tracing/otel.go
  compose/app.yaml
  compose/infra.yaml
  docker-compose.yaml
  infra/alloy/config.alloy
  infra/grafana/provisioning/datasources/datasources.yml
  infra/grafana/provisioning/datasources/mimir.yaml
  infra/grafana/provisioning/datasources/tempo.yaml
  infra/mimir/mimir.yaml
  infra/oathkeeper/access-rules.dev.yml
  infra/prometheus/prometheus.dev.yml
  infra/tempo/tempo.yaml
  infra/traefik/traefik.dev.yml
Due: go-fmt, go-mod-tidy, go-build, repo-prettier

refactor(backend)!: simplify gateway and centralize audit logging
  .github/workflows/ci.yaml
  Taskfile.yml
  backend/Taskfile.yml
  backend/cmd/data/main.go
  backend/cmd/gateway/main.go
  backend/cmd/system/main.go
  backend/cmd/worker/main.go
  backend/docker/Dockerfile.data
  backend/docker/Dockerfile.gateway
  backend/docker/Dockerfile.system
  backend/docker/Dockerfile.system.dev
  backend/docker/Dockerfile.worker
  backend/graphql/queries/users.graphql
  backend/internal/activities/audit.go
  backend/internal/api/common/middleware/auth.go
  backend/internal/api/common/middleware/logger.go
  backend/internal/api/gateway/handlers/me.go
  backend/internal/api/gateway/handlers/users.go
  backend/internal/api/gateway/server.go
  backend/internal/api/gateway/services/temporal_audit.go
  backend/internal/api/system/handlers/admin.go
  backend/internal/api/system/handlers/audit.go
  backend/internal/api/system/handlers/kratos_webhook.go
  backend/internal/audit/client.go
  backend/internal/audit/helpers.go
  backend/internal/audit/interface.go
  backend/internal/audit/service.go
  backend/internal/client/data/generated.go
  backend/internal/repository/pool.go
  backend/internal/tracing/otel.go
  backend/internal/workflows/audit.go
  compose/app.yaml
  db/Taskfile.yml
  infra/alloy/config.alloy
  infra/oathkeeper/oathkeeper.dev.yml
Due: go-fmt, go-build, repo-prettier

chore(tooling): specify explicit configs for gqlgen and sqlc
  backend/Taskfile.yml
Due: none

chore(db): introduce sqlfluff for SQL linting and formatting
  .github/workflows/ci.yaml
  Taskfile.yml
  db/.prettierignore
  db/.prettierrc.yaml
  db/.sqlfluff
  db/Taskfile.yml
  db/package-lock.json
  db/package.json
  db/queries/audit_logs.sql
  db/queries/users.sql
  db/seeds/dev.sql
  db/seeds/test.sql
  db/yarn.lock
Due: repo-prettier

build(docker): upgrade Go to 1.25.3 in backend Dockerfiles
  backend/docker/Dockerfile.data
  backend/docker/Dockerfile.gateway
  backend/docker/Dockerfile.system
  backend/docker/Dockerfile.worker
Due: none

chore(infra): remove docker container metric scraping from alloy
  infra/alloy/config.alloy
Due: none

feat(ui): implement login page with theming and auth components
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/apple.svg
  frontend/src/assets/google.svg
  frontend/src/components/auth/glass-panel.tsx
  frontend/src/components/auth/header.tsx
  frontend/src/components/auth/link.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/separator-with-text.tsx
  frontend/src/components/auth/social-login-button.tsx
  frontend/src/components/layout/dynamic-background.tsx
  frontend/src/components/layout/language-toggle.tsx
  frontend/src/components/layout/theme-toggle.tsx
  frontend/src/components/themes/index.ts
  frontend/src/components/themes/theme-color-updater.tsx
  frontend/src/components/themes/theme-provider.tsx
  frontend/src/components/themes/use-theme.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/auth/login-page-layout.tsx
Due: frontend-lint, frontend-prettier, frontend-type-check

chore(infra): refine local development infrastructure and setup
  Taskfile.yml
  compose/infra.yaml
  infra/kratos/kratos.dev.yml
Due: repo-prettier

feat(auth): add dynamic, theme-aware background to login pages
  backend/cmd/photos/main.go
  frontend/src/components/auth/dynamic-background.tsx
  frontend/src/components/layout/dynamic-background.tsx
  frontend/src/pages/auth/login-page-layout.tsx
Due: go-fmt, go-build, frontend-lint, frontend-prettier, frontend-type-check

feat(system): add photos microservice for dynamic background images
  .env.example
  backend/cmd/photos/main.go
  backend/docker/Dockerfile.photos.dev
  backend/internal/api/photos/handlers/photos.go
  backend/internal/config/vault.go
  backend/tools/.air.photos.toml
  compose/app.yaml
  infra/oathkeeper/access-rules.dev.yml
  infra/vault/seed-dev-secrets.sh
Due: go-fmt, go-build, repo-prettier

feat(system)!: enhance photo service with themed images and fallback
  Taskfile.yml
  backend/cmd/photos/main.go
  backend/internal/api/photos/handlers/photos.go
  backend/internal/config/vault.go
  compose/app.yaml
  infra/oathkeeper/access-rules.dev.yml
  infra/vault/seed-dev-secrets.sh
Due: go-fmt, go-build, repo-prettier

chore: add tailwind and shadcn
  frontend.old/.gitignore
  frontend/.prettierignore
  frontend/components.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-lint, frontend-prettier, frontend-type-check

feat(ui): add language toggle and refactor theme switcher
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/auth/separator-with-text.tsx
  frontend/src/components/auth/social-login-button.tsx
  frontend/src/components/layout/theme-toggle.tsx
  frontend/src/components/themes/theme-color-updater.tsx
  frontend/src/components/themes/theme-provider.tsx
  frontend/src/components/toggle/language-toggle.tsx
  frontend/src/components/toggle/theme-toggle.tsx
  frontend/src/components/toggle/toggle-dropdown.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/pages/auth/login-page-layout.tsx
Due: frontend-lint, frontend-prettier, frontend-type-check

feat(graphql): add source field to photo API response
  backend/internal/api/photos/handlers/photos.go
Due: go-fmt, go-build

refactor(ui): introduce centralized glassmorphism design system
  frontend/src/components/auth/dynamic-background.tsx
  frontend/src/components/auth/glass-panel.tsx
  frontend/src/components/auth/header.tsx
  frontend/src/components/auth/link.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/separator-with-text.tsx
  frontend/src/components/auth/social-login-button.tsx
  frontend/src/components/toggle/language-toggle.tsx
  frontend/src/components/toggle/theme-toggle.tsx
  frontend/src/components/toggle/toggle-dropdown.tsx
  frontend/src/lib/glass-styles.ts
  frontend/tailwind.config.ts
Due: frontend-lint, frontend-prettier, frontend-type-check

style(auth): refine login page UI for theme consistency
  frontend/src/components/auth/dynamic-background.tsx
  frontend/src/components/auth/login-form.tsx
Due: frontend-lint, frontend-prettier, frontend-type-check

docs: archive project in favor of retran/meowhub
  README.md
Due: repo-prettier

docs: archive project in favor of retran/meowhub (#63)
  README.md
Due: repo-prettier
