Repository retran/nexus: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: remove deprecated workarounds:all preset from Renovate configuration (#15)
  renovate.json
Due: none

chore(tooling): refine renovate configuration for granular update handling
  renovate.json
Due: none

Update renovate.json
  renovate.json
Due: none

chore(tooling): refactor Renovate config for granular dependency updates (#17)
  renovate.json
Due: none

test(ui): add Vitest for unit and component testing
  .gitignore
  frontend/package.json
  frontend/src/test/example.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
Due: frontend

ci: upgrade golangci-lint-action to v8
  .github/workflows/ci.yaml
Due: none

ci: pin gosec action and fix scan path
  .github/workflows/ci.yaml
Due: none

build(tooling): update air hot-reload tool module path
  backend/Dockerfile.dev
Due: backend

build(frontend): harden dev Docker build for yarn install
  frontend/Dockerfile.dev
Due: frontend

feat(frontend): add Vitest and improve CI configurations (#19)
  .github/workflows/ci.yaml
  .gitignore
  backend/Dockerfile.dev
  frontend/Dockerfile.dev
  frontend/package.json
  frontend/src/test/example.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
Due: backend, frontend

ci: harden workflow permissions for security scanning
  .github/workflows/ci.yaml
Due: none

chore(tooling): refactor renovate configuration for modern syntax
  renovate.json
Due: none

ci: harden workflow permissions and modernize renovate config (#21)
  .github/workflows/ci.yaml
  renovate.json
Due: none

chore: delete .env
  .env
Due: none

chore: delete .env (#22)
  .env
Due: none

chore(tooling): enable vulnerability alerts in Renovate
  renovate.json
Due: none

chore(tooling): enable vulnerability alerts in Renovate (#24)
  renovate.json
Due: none

chore(tooling): add frontend testing and enhance CI/CD pipeline (#23)
  .env
  .github/workflows/ci.yaml
  .gitignore
  backend/Dockerfile.dev
  frontend/Dockerfile.dev
  frontend/package.json
  frontend/src/test/example.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
  renovate.json
Due: backend, frontend

chore: disable dependabot
  .github/dependabot.yaml
Due: none

chore: disable dependabot (#35)
  .github/dependabot.yaml
Due: none

build(tooling): modularize Taskfile configuration by component
  Taskfile.yml
  backend/Taskfile.yml
  frontend/Taskfile.yml
  postgres/Taskfile.yml
Due: backend, frontend

chore(tooling): exclude package-lock.json from meowg1k processing
  .meowg1k.yaml
Due: none

Update frontend/src/components/refine-ui/data-table/data-table-filter.tsx
  frontend/src/components/refine-ui/data-table/data-table-filter.tsx
Due: frontend

chore: remove unecessary headers
  frontend/src/components/ui/sidebar-context.ts
  frontend/src/components/ui/toggle-variants.ts
  frontend/src/components/ui/use-sidebar.ts
Due: frontend

refactor(database)!: migrate from go-migrate to Atlas for schema management
  Taskfile.yml
  backend/Taskfile.yml
  docker-compose.dev.yaml
  postgres/Taskfile.yml
  postgres/migrations/000001_init.down.sql
  postgres/migrations/000001_init.up.sql
  postgres/migrations/20251024104924_initial_schema.sql
  postgres/migrations/atlas.sum
  postgres/package.json
  postgres/schema.hcl
Due: backend

refactor(database)!: overhaul schema management with Atlas and declarative HCL (#49)
  Taskfile.yml
  backend/Taskfile.yml
  docker-compose.dev.yaml
  postgres/Taskfile.yml
  postgres/migrations/000001_init.down.sql
  postgres/migrations/000001_init.up.sql
  postgres/migrations/20251024104924_initial_schema.sql
  postgres/migrations/atlas.sum
  postgres/package.json
  postgres/schema.hcl
Due: backend

feat(backend): scaffold sqlc database layer and GraphQL server
  backend/Taskfile.yml
  backend/genqlient.yml
  backend/go.mod
  backend/go.sum
  backend/gqlgen.yml
  backend/internal/api/graphql/resolvers/resolver.go
  backend/internal/repository/postgres/audit_logs.sql.go
  backend/internal/repository/postgres/db.go
  backend/internal/repository/postgres/models.go
  backend/internal/repository/postgres/querier.go
  backend/internal/repository/postgres/queries/audit_logs.sql
  backend/internal/repository/postgres/queries/users.sql
  backend/internal/repository/postgres/users.sql.go
  backend/sqlc.yml
Due: backend

feat(api): add GraphQL API for user and audit log management
  backend/.air.api-server.toml
  backend/.air.toml
  backend/.air.worker.toml
  backend/Dockerfile.api-server.dev
  backend/Taskfile.yml
  backend/cmd/api-server/main.go.bak
  backend/cmd/nexus/main.go
  backend/genqlient.yml
  backend/go.mod
  backend/go.sum
  backend/gqlgen.yml
  backend/internal/api/graphql/generated.go
  backend/internal/api/graphql/model/models.go
  backend/internal/api/graphql/resolvers/resolver.go
  backend/internal/api/graphql/resolvers/schema.resolvers.go
  backend/internal/api/graphql/schema.graphql
  backend/internal/repository/postgres/audit_logs.sql.go
  backend/internal/repository/postgres/querier.go
  backend/internal/repository/postgres/queries/audit_logs.sql
  backend/internal/repository/postgres/queries/users.sql
  backend/internal/repository/postgres/users.sql.go
  backend/nexus
  backend/tools/tools.go
Due: backend

feat(api): add GraphQL API for user and audit log management
  backend/.golangci.yml
  backend/cmd/api-server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/graphql/resolvers/pagination.go
  backend/internal/api/graphql/resolvers/schema.resolvers.go
  backend/internal/client/graphql/client.go
  backend/internal/client/graphql/generated.go
  backend/internal/client/graphql/queries/audit.graphql
  backend/internal/client/graphql/queries/users.graphql
  backend/internal/repository/postgres/pool.go
Due: backend

build: upgrade Go to 1.25.3 and streamline dev/CI configuration
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  backend/.golangci.yml
  backend/Dockerfile.api-server.dev
  backend/go.mod
  docker-compose.dev.yaml
Due: backend

feat(backend)!: implement GraphQL API with sqlc and gqlgen (#50)
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  backend/.air.api-server.toml
  backend/.air.toml
  backend/.air.worker.toml
  backend/.golangci.yml
  backend/Dockerfile.api-server.dev
  backend/Taskfile.yml
  backend/cmd/api-server/main.go
  backend/cmd/nexus/main.go
  backend/genqlient.yml
  backend/go.mod
  backend/go.sum
  backend/gqlgen.yml
  backend/internal/api/graphql/generated.go
  backend/internal/api/graphql/model/models.go
  backend/internal/api/graphql/resolvers/pagination.go
  backend/internal/api/graphql/resolvers/resolver.go
  backend/internal/api/graphql/resolvers/schema.resolvers.go
  backend/internal/api/graphql/schema.graphql
  backend/internal/client/graphql/client.go
  backend/internal/client/graphql/generated.go
  backend/internal/client/graphql/queries/audit.graphql
  backend/internal/client/graphql/queries/users.graphql
  backend/internal/repository/postgres/audit_logs.sql.go
  backend/internal/repository/postgres/db.go
  backend/internal/repository/postgres/models.go
  backend/internal/repository/postgres/pool.go
  backend/internal/repository/postgres/querier.go
  backend/internal/repository/postgres/queries/audit_logs.sql
  backend/internal/repository/postgres/queries/users.sql
  backend/internal/repository/postgres/users.sql.go
  backend/nexus
  backend/sqlc.yml
  backend/tools/tools.go
  docker-compose.dev.yaml
Due: backend

feat(worker): add temporal worker for asynchronous audit logging
  .env.example
  LICENSE
  Taskfile.yml
  backend/.air.worker.toml
  backend/Dockerfile.worker.dev
  backend/Taskfile.yml
  backend/cmd/worker/main.go
  backend/genqlient.yml
  backend/go.mod
  backend/go.sum
  backend/gqlgen.yml
  backend/internal/activities/audit.go
  backend/internal/api/graphql/schema.graphql
  backend/internal/client/graphql/client.go
  backend/internal/client/graphql/queries/audit.graphql
  backend/internal/client/graphql/queries/users.graphql
  backend/internal/domain/audit.go
  backend/internal/repository/postgres/audit_logs.sql.go
  backend/internal/repository/postgres/pool.go
  backend/internal/repository/postgres/querier.go
  backend/internal/repository/postgres/queries/audit_logs.sql
  backend/internal/repository/postgres/queries/users.sql
  backend/internal/repository/postgres/users.sql.go
  backend/internal/workflows/audit.go
  backend/sqlc.yml
  codecov.yaml
  docker-compose.dev.yaml
  frontend/Dockerfile.dev
  frontend/Taskfile.yml
  frontend/src/test/example.test.ts
  postgres/Taskfile.yml
  postgres/schema.hcl
Due: backend, frontend

feat(api)!: add REST API gateway service
  .cz.toml
  .editorconfig
  .gitattributes
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  backend/.air.api-server.toml
  backend/.air.gateway.toml
  backend/.dockerignore
  backend/.golangci.yml
  backend/Dockerfile.gateway.dev
  backend/Taskfile.yml
  backend/cmd/gateway/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/rest/handlers/kratos_webhook.go
  backend/internal/api/rest/handlers/me.go
  backend/internal/api/rest/handlers/response.go
  backend/internal/api/rest/handlers/users.go
  backend/internal/api/rest/middleware/auth.go
  backend/internal/api/rest/middleware/cors.go
  backend/internal/api/rest/middleware/logger.go
  backend/internal/api/rest/middleware/ratelimit.go
  backend/internal/api/rest/middleware/recovery.go
  backend/internal/api/rest/server.go
  backend/internal/api/rest/services/temporal_audit.go
  docker-compose.dev.yaml
  frontend/.dockerignore
  frontend/.prettierignore
  frontend/.prettierrc.yaml
  postgres/.prettierignore
  postgres/.prettierrc.yaml
  postgres/.sqlfluff
Due: backend, frontend

chore(tooling): simplify developer workflow configuration
  .meowg1k.yaml
  backend/Taskfile.yml
Due: backend

Path conditions:
  backend: any of: backend/, but not: **/*_test.go, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/testdata/**, **/__tests__/**, **/node_modules/**, **/vendor/**, **/tmp/**, **/dist/**, **/build/**
  frontend: any of: frontend/, but not: **/*_test.go, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/testdata/**, **/__tests__/**, **/node_modules/**, **/vendor/**, **/tmp/**, **/dist/**, **/build/**
