Repository retran/nexus: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yaml:

# Copyright 2025 Andrew Vasilyev
# SPDX-License-Identifier: APACHE-2.0

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

  range: 50..100
  round: down
  precision: 2

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/testdata/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/vendor/**"
  - "**/tmp/**"
  - "**/dist/**"
  - "**/build/**"

build: refine build, lint, and CI processes across services
  .github/workflows/ci.yaml
  .gitignore
  Taskfile.yml
  backend/Taskfile.yml
  frontend/Taskfile.yml
  postgres/Taskfile.yml
Due: backend, frontend

feat(infra): introduce Ory Kratos and Traefik for local development
  .env.dev.example
  .env.example
  .gitignore
  .prettierignore
  README.md
  Taskfile.yml
  docker-compose.dev.yaml
  frontend/vite.config.ts
  kratos/dev/access-rules.yml
  kratos/dev/id_token.jwks.json
  kratos/dev/identity.schema.json
  kratos/dev/kratos.yml
  kratos/dev/oathkeeper.yml
  kratos/dev/oidc.google.jsonnet
  kratos/dev/webhook.jsonnet
  postgres/init-kratos-db.sh
Due: frontend

chore(database): improve reliability of postgres reset task
  postgres/Taskfile.yml
  postgres/migrations/atlas.sum
Due: none

chore(tooling): enhance Taskfile with db auto-migration and cleanup tasks
  Taskfile.yml
Due: none

refactor(backend)!: introduce data-api, webhooks services and edge auth
  .github/workflows/ci.yaml
  README.md
  Taskfile.yml
  backend/.air.data-api.toml
  backend/.air.webhooks.toml
  backend/Dockerfile.data-api.dev
  backend/Dockerfile.webhooks.dev
  backend/Taskfile.yml
  backend/cmd/data-api/main.go
  backend/cmd/gateway/main.go
  backend/cmd/webhooks/main.go
  backend/internal/api/graphql/generated.go
  backend/internal/api/graphql/resolvers/schema.resolvers.go
  backend/internal/api/graphql/schema.graphql
  backend/internal/api/rest/handlers/me.go
  backend/internal/api/rest/server.go
  backend/internal/client/graphql/generated.go
  backend/internal/webhooks/kratos/handler.go
  docker-compose.dev.yaml
  kratos/dev/access-rules.yml
  kratos/dev/kratos.yml
Due: backend

feat(iam): step-01 - add HashiCorp Vault secrets management service
  .env.dev.example
  backend/internal/api/graphql/resolvers/schema.resolvers.go
  docker-compose.dev.yaml
  vault/config.hcl
Due: backend

feat(iam): step-01a - automate Vault bootstrap and AppRole setup
  TODO.md
  Taskfile.yml
  docker-compose.dev.yaml
  vault/.gitignore
  vault/Taskfile.yml
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-policies.sh
Due: none

feat(iam): step-01b - add shared KV secrets rotation automation for Vault
  TODO.md
  Taskfile.yml
  vault/Taskfile.yml
  vault/scripts/rotate-shared-secrets.sh
  vault/scripts/verify-shared-secrets.sh
Due: none

feat(iam): step-02 - add Vault dev secrets seeding script
  .env.dev.example
  TODO.md
  Taskfile.yml
  vault/Taskfile.yml
  vault/scripts/seed-dev-secrets.sh
Due: none

feat(iam): step-02a - configure Vault OIDC auth via Kratos
  .env.dev.example
  TODO.md
  Taskfile.yml
  kratos/dev/kratos.yml
  vault/Taskfile.yml
  vault/config.hcl
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-oidc.sh
  vault/scripts/init-policies.sh
Due: none

feat(iam): step-03 - add Vault Go client library with AppRole auth
  TODO.md
  backend/go.mod
  backend/go.sum
  backend/internal/secrets/client.go
  backend/internal/secrets/client_test.go
Due: backend

feat(iam): step-04 - configure Vault Transit for JWT signing
  TODO.md
  Taskfile.yml
  vault/Taskfile.yml
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-policies.sh
  vault/scripts/init-transit.sh
  vault/scripts/rotate-transit-key.sh
Due: none

feat(iam): step-05 - create JWT verifier library with Vault Transit
  TODO.md
  backend/internal/auth/jwt_verifier.go
  backend/internal/auth/jwt_verifier_test.go
Due: backend

feat(iam): step-06 - create Vault token client library
  TODO.md
  backend/internal/auth/vault_token_client.go
  backend/internal/auth/vault_token_client_test.go
Due: backend

feat(iam): step-07 - add role field to Kratos identity schema
  TODO.md
  kratos/dev/identity.schema.json
Due: none

feat(iam): step-08 - remove user role column
  TODO.md
  postgres/migrations/20251103000000_remove_role_column.sql
  postgres/migrations/atlas.sum
Due: none

feat(iam): step-09 - remove GraphQL UserRole enum
  TODO.md
  backend/internal/api/graphql/generated.go
  backend/internal/api/graphql/model/models.go
  backend/internal/api/graphql/resolvers/schema.resolvers.go
  backend/internal/api/graphql/schema.graphql
Due: backend

feat(iam): step-10 - update sqlc queries to remove role
  TODO.md
  backend/gqlgen.yml
  backend/internal/api/graphql/resolvers/schema.resolvers.go
  backend/internal/repository/postgres/models.go
  backend/internal/repository/postgres/querier.go
  backend/internal/repository/postgres/queries/users.sql
  backend/internal/repository/postgres/users.sql.go
Due: backend

feat(iam): step-11 - forward user role header via Oathkeeper
  TODO.md
  kratos/dev/oathkeeper.yml
Due: none

feat(iam): step-12 - create Internal API skeleton
  TODO.md
  backend/.air.internal-api.toml
  backend/Dockerfile.internal-api.dev
  backend/cmd/internal-api/main.go
  docker-compose.dev.yaml
Due: backend

feat(iam): step-13 - migrate Kratos webhook to internal API
  TODO.md
  backend/cmd/internal-api/main.go
  backend/internal/api/rest/middleware/auth.go
  backend/internal/client/graphql/generated.go
  backend/internal/client/graphql/queries/users.graphql
  backend/internal/webhooks/kratos/handler.go
  docker-compose.dev.yaml
Due: backend

feat(iam): step-14 - add JWT verification middleware
  TODO.md
  backend/cmd/internal-api/main.go
  backend/internal/internalapi/middleware/jwt.go
  docker-compose.dev.yaml
Due: backend

feat(iam): step-15 - add role management endpoint
  TODO.md
  backend/cmd/internal-api/main.go
  backend/internal/internalapi/handlers/admin.go
  backend/internal/internalapi/middleware/jwt.go
  docker-compose.dev.yaml
Due: backend

feat(iam): step-21 - remove legacy gateway auth middleware
  TODO.md
  backend/cmd/gateway/main.go
  backend/internal/api/rest/handlers/me.go
  backend/internal/api/rest/handlers/response.go
  backend/internal/api/rest/handlers/users.go
  backend/internal/api/rest/middleware/auth.go
  backend/internal/api/rest/middleware/cors.go
  backend/internal/api/rest/middleware/ratelimit.go
  backend/internal/api/rest/server.go
Due: backend

feat(iam): step-16 - point Kratos webhooks to internal API
  TODO.md
  kratos/dev/kratos.yml
Due: none

feat(iam): step-18 - verify Oathkeeper JWT in Gateway
  TODO.md
  backend/cmd/internal-api/main.go
  backend/internal/api/rest/middleware/auth.go
  backend/internal/api/rest/middleware/auth_test.go
Due: backend

feat(iam): step-19 - add JWT token client to Gateway
  TODO.md
  backend/cmd/gateway/main.go
  backend/internal/api/rest/server.go
  backend/internal/api/rest/service_token_transport.go
  backend/internal/client/graphql/client.go
Due: backend

refactor(backend)!: remove internal webhooks service
  backend/.air.webhooks.toml
  backend/Dockerfile.webhooks.dev
  backend/cmd/webhooks/main.go
  backend/internal/webhooks/kratos/handler.go
  docker-compose.dev.yaml
  vault/scripts/bootstrap-dev.sh
  vault/scripts/init-policies.sh
  vault/scripts/seed-dev-secrets.sh
Due: backend

feat(iam): step-20 - add JWT verification to Data API
  TODO.md
  backend/cmd/data-api/main.go
Due: backend

feat(iam): step-22 - refactor audit to use Internal API
  TODO.md
  backend/cmd/gateway/main.go
  backend/internal/api/rest/server.go
  backend/internal/api/rest/services/temporal_audit.go
Due: backend

feat(iam): step-23 - remove Temporal dependency from Gateway
  TODO.md
  backend/cmd/gateway/main.go
  backend/internal/api/rest/server.go
  docker-compose.dev.yaml
  vault/scripts/seed-dev-secrets.sh
Due: backend

feat(iam): step-24 - add audit workflow handler
  TODO.md
  backend/cmd/internal-api/main.go
  backend/internal/internalapi/handlers/audit.go
  docker-compose.dev.yaml
Due: backend

fix(iam): step-21a - activate Oathkeeper JWT verification in gateway
  backend/cmd/gateway/main.go
  backend/internal/api/rest/server.go
  backend/internal/auth/jwks_verifier.go
  docker-compose.dev.yaml
  kratos/dev/access-rules.yml
Due: backend

feat(iam): step-25 - add Kratos login webhook
  backend/cmd/internal-api/main.go
  backend/internal/internalapi/handlers/kratos_webhook.go
  kratos/dev/kratos.yml
Due: backend

feat(iam): step-26 - update logout to revoke Kratos session
  backend/cmd/gateway/main.go
  backend/internal/api/rest/handlers/me.go
  backend/internal/api/rest/server.go
Due: backend

feat(iam): step-27 - add logout audit logging
  TODO.md
  backend/cmd/internal-api/main.go
  backend/internal/api/rest/handlers/me.go
  backend/internal/internalapi/handlers/kratos_webhook.go
Due: backend

feat(iam): step-28 - add RBAC authorizer endpoint for Oathkeeper
  backend/cmd/gateway/main.go
  backend/internal/api/rest/handlers/authorizer.go
  backend/internal/api/rest/server.go
Due: backend

docs: mark commits 21a, 25-28 as completed in TODO.md
  TODO.md
Due: none

feat(iam): step-29 - add admin RBAC rules to Oathkeeper
  kratos/dev/access-rules.yml
Due: none
